*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --dark-base: #222;
  --lighter-dark: #333;
  --gray: #858585;
  --light-gray: #d2d2d2;
  --light-white: #f1f1f1;
  --red: #e71616;
  --white: rgb(243, 240, 238);

  /* Fonts */
  --base-font: Raleway, sans-serif;
  --accent-font: Bebas Neue, sans-serif;

  /* Font-size */

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-30: 1.875rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;
  --fs-90: 5.625rem;

  /* shadows */
  --light-solid-shadow: 0 2px 0px #111111cc;
  --solid-shadow: 0 2px 0px #111;
  --shadow-sm: 5px 6px 10px rgba(17, 17, 17, 0.502);
  --drop-shadow: 1px 1px 0px #1111114d;


  /* borders */
  --light-dark-border: 1px solid var(--lighter-dark);
  --dark-thick-border: 2px solid var(--lighter-dark);
}

body {
  font-family: var(--base-font);
}

.home-banner {
  width: 100%;
  border-bottom: 1px solid rgba(34,34,34,0.4);
}

.website-title {
  text-align: center;
  font-size: var(--fs-72);
  font-family: var(--accent-font);
  padding: 15px 0;
}

nav {
  text-align: center;
  font-size: var(--fs-20);
  margin-bottom: 20px;
  position: sticky;
  z-index: 222;
}

nav a {
  position: relative;
  text-decoration: none;
  color: var(--dark-base);
  padding: 0 20px;
}

#link::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  background: var(--red);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-out;
}

#link:hover::before {
  transform: scaleX(1);
}

.hero-section {
  padding: 145px 10px 10px;
  min-height: 700px;
  background-image: url(./ressources/TokyoNight.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-section#accueil {
  padding: 225px;
}

.main-title {
  color: var(--light-white);
  font-size: 7rem;
  font-family: var(--accent-font);
  letter-spacing: 5px;
  text-shadow: var(--shadow-sm);
}

.hero-btn {
  position: relative;
  padding: 15px 30px;
  margin: 5px 20px;
  font-size: var(--fs-16);
  border-radius: 5px;
  border: none;
  z-index: 1;
  overflow: hidden; 
  box-shadow: var(--shadow-sm);
  color: var(--light-white);
  text-transform: uppercase;
  cursor: pointer;
}

.hero-btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--dark-base);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.hero-btn:hover::before {
  transform: translateY(-100%);
}

.hero-btn:hover {
  color: var(--dark-base);
} 

@media(max-width: 768px){
  .website-title {
    font-size: var(--fs-42);
  }
  .main-title {
    font-size: var(--fs-72);
  }
  .heading-2 {
    font-size: var(--fs-26);
  }
  .surtitle {
    font-size: var(--fs-16);
  }
  .hero-btn {
    font-size: var(--fs-14);
    padding: 10px 20px;
    margin: 5px 10px;
    }
}


/***** Les quartiers *****/

.quartier-section {
  padding: 0 10px 62px;
}

.negativ-container {
  margin: 0 auto;
  max-width: 1100px;
  transform: translateY(-100px);
  background-color: var(--white);
  border-radius: 25px;
  padding: 40px 25px 112px;
  position: relative;
  box-shadow: var(--shadow-sm);
}

.negativ-container .surtitle, .heading-2 {
  text-align: center;
  padding: 10px 5px;
} 

.negativ-container .heading-2 {
  font-size: var(--fs-42);
  margin-bottom: 60px;
}

.negativ-container .surtitle {
  font-size: var(--fs-26);
}

.quartier-container {
  max-width: 825px;
  margin: 0 auto;
  min-height: 300px;
  display: flex;
  border-radius: 3px;
  box-shadow: var(--shadow-sm);
  background: var(--dark-base); 
}

.quartier-2 {
  background: var(--dark-base); 
}

.quartier-container:not(.quartier-3) {
  margin-bottom: 60px;
}

.quartier-container img {
  width: 50%;
  padding: 25px;
}

.quartier-description {
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: var(--light-white);
}

.quartier-heading {
  font-family: var(--accent-font);
  font-size: var(--fs-20);
  margin-bottom: 20px;
}

.quartier-description p {
  line-height: 1.5;
  margin-bottom: 20px;
  color: var(--light-gray);
}

.quartier-link {
  margin-top: auto;
  min-width: 150px;
  align-self: flex-start;
  text-decoration: none;
  text-align: center;
  padding: 10px 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: var(--fs-14);
  font-weight: 600;
  background-color: var(--light-white);
  color: var(--dark-base);
}

.quartier-link:hover {
  background-image: url("/LaboCSS/ressources/japan-flag.png");
  background-position: center;
  background-size: cover;
}

@media(max-width: 768px) {
  .quartier-section {
    padding: 0;
  }
  .negativ-container .heading-2 {
    margin-bottom: 35px;
  }
  .negativ-container {
    padding: 30px 10px 90px;
  }
  .quartier-container {
    max-width: 500px;
    flex-wrap: wrap;
  }
  .quartier-2 .quartier-description {
    order: 2;
  }
  .quartier-2 img {
    order: 1;
  }
  .quartier-container img {
    width: 100%;
    padding: 25px;
  }
  .quartier-description {
    padding: 0px 25px 25px;
    width: 100%;
  }
}

/**** PARALLAX ****/

.parallax {
  min-height: 275px;
  background-image: url(ressources/parallax.jfif);
  background-position: center;
  background-size: cover;

  /* pour l'effet visuel */
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light-white);
}

.japanese-text {
  font-size: var(--fs-64);
  line-height: 1.2;
  text-shadow: var(--shadow-sm);
}

.parallax-text {
  font-size: var(--fs-32);
  text-shadow: var(--shadow-sm);
  font-family: var(--accent-font);
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .parallax {
    min-height: 200px;
  }
  .japanese-text {
    font-size: var(--fs-40);
  }
  .parallax-text {
    font-size: var(--fs-18);
  }
}
